
# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser
DATABASE_URL=

# Domain name, used by caddy
DOMAIN_NAME=ccep.datakind.org

# General settings
#DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=admin1
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=+2JCKG=$Fa-J<7+GogmQu@`/(#mHwUo>ppaJ0l0XV;s6|>o*~_
DJANGO_ALLOWED_HOSTS=.ccep.datakind.org

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
# Sentry
DJANGO_SENTRY_DSN=



